<div class="jumbotron">
  <h1 class="display-3">Smart Employee</h1>
  <p class="lead">Application for Employee CRUD Operations, Upload Data & Export Data </p>
  <hr class="my-4">  
</div>

<div class="card" style="width: 20rem;">
  	  <h4 class="card-title">Technology Stack</h4>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Spring Boot</li>
	    <li class="list-group-item">Spring REST MVC</li>
	    <li class="list-group-item">Angular JS</li>
	    <li class="list-group-item">MongoDB</li>
	  </ul>
  </div>

